contextily
coverage
folium
geodatasets
ipykernel
ipywidgets
italy-geopop
mapclassify
mapclassify
matplotlib
numpy-financial
pandas
pandas-stubs
plotly
pre-commit
pyarrow
pydantic
pytest
ruff
tqdm
types-python-dateutil
