contextily
coverage
folium
geodatasets
ipykernel
ipywidgets
italy-geopop
mapclassify
matplotlib
numpy-financial
pandas
pandas-stubs
pip
plotly
pre-commit
pyarrow
pydantic
pytest
ruff
streamlit
tqdm
types-python-dateutil
